{
    "extends": ["@diplodoc/eslint-config"],
    "root": true,
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [
        {
            "files": ["src/plugin/**/*", "esbuild/**/*"],
            "env": {
                "node": true
            }
        }
    ],
    "rules": {
        "no-implicit-globals": "off",
        "callback-return": "off",
        "consistent-return": "off"
    }
}
