{
    "extends": ["@diplodoc/eslint-config", "@diplodoc/eslint-config/prettier"],
    "root": true,
    "env": {
        "browser": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
