:root {
    --mermaid-zoom-control-size: 20px;
    --mermaid-zoom-control-pad: 5px;
    --mermaid-zoom-control-color: #000;
}

[data-mermaid-zoom-enabled="1"] {
    position: relative;

    & > svg {
        outline: solid 1px var(--mermaid-zoom-control-color);
    }
}

@keyframes mermaid-zoom-menu-controls-fadein {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.mermaid-zoom-menu {
    position: absolute;
    position: sticky;
    top: 0;
    height: calc(var(--mermaid-zoom-control-size) * 3 + var(--mermaid-zoom-control-pad) * 4);
    overflow: hidden;

    &-controls {
        position: absolute;
        right: 0;
        top: 0;
        height: calc(var(--mermaid-zoom-control-size) * 3 + var(--mermaid-zoom-control-pad) * 4);
        width: calc(var(--mermaid-zoom-control-size) * 3 + var(--mermaid-zoom-control-pad) * 4);
        animation: mermaid-zoom-menu-controls-fadein ease .2s;
    }

    &-control {
        position: absolute;
        width: var(--mermaid-zoom-control-size);
        height: var(--mermaid-zoom-control-size);
        pointer-events: all;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            transform: scale(1.3);
        }

        &:active {
            transform: scale(1);
        }

        &[data-action="up"] {
            right: calc(var(--mermaid-zoom-control-size) + var(--mermaid-zoom-control-pad) * 2);
            bottom: calc(var(--mermaid-zoom-control-size) * 2 + var(--mermaid-zoom-control-pad) * 3);
        }

        &[data-action="down"] {
            right: calc(var(--mermaid-zoom-control-size) + var(--mermaid-zoom-control-pad) * 2);
            bottom: var(--mermaid-zoom-control-pad);
        }

        &[data-action="reset"] {
            right: calc(var(--mermaid-zoom-control-size) + var(--mermaid-zoom-control-pad) * 2);
            bottom: calc(var(--mermaid-zoom-control-size) + var(--mermaid-zoom-control-pad) * 2);
        }

        &[data-action="left"] {
            right: calc(var(--mermaid-zoom-control-size) * 2 + var(--mermaid-zoom-control-pad) * 3);
            bottom: calc(var(--mermaid-zoom-control-size) + var(--mermaid-zoom-control-pad) * 2);
        }

        &[data-action="right"] {
            right: var(--mermaid-zoom-control-pad);
            bottom: calc(var(--mermaid-zoom-control-size) + var(--mermaid-zoom-control-pad) * 2);
        }

        &[data-action="zoomout"] {
            right: calc(var(--mermaid-zoom-control-size) * 2 + var(--mermaid-zoom-control-pad) * 3);
            bottom: calc(var(--mermaid-zoom-control-size) * 2 + var(--mermaid-zoom-control-pad) * 3);
        }

        &[data-action="zoomin"] {
            right: var(--mermaid-zoom-control-pad);
            bottom: calc(var(--mermaid-zoom-control-size) * 2 + var(--mermaid-zoom-control-pad) * 3);
        }

        svg {
            color: var(--mermaid-zoom-control-color);
            width: var(--mermaid-zoom-control-size);
            height: var(--mermaid-zoom-control-size);
        }
    }
}
